@font-face {
    font-family: 'laila';
    src: url('../fonts/Laila-SemiBold.ttf'), format('truetype'),
    url('../fonts/Laila-Medium.ttf'), format('truetype'),
    url('../fonts/'), format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf'), format('truetype'), 
    url('../fonts/montserrat-variablefont_wght-webfont.woff2'), format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserratthin';
    src: url('../fonts/montserrat-variablefont_wght-webfont.woff') format('woff2'),
        url('../fonts/') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'josefin_sansthin';
    src: url('../fonts/josefinsans-italic-variablefont_wght-webfont.woff') format('woff2'),
        url('../fonts/josefinsans-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'josefin_sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
*/


html{
    --main-background:#303030;
    --primary-text: #FFF;
    --secondary-text: #B0355F;

    --text-link-before:#FFF
    --text-link-after:#B0355F
    --footer-background:#7973BA
    --button-color:#B0355F
}

body{
    background-color: #303030;
    font-family: 'montserrat';
    margin: 0;
    /*'josefin_sans'*/
}

button {
    background-color:white;
    border: none;
    border-radius: 55px;
    color: var();
    cursor: pointer;
    font-family: 'montserrat';
    margin: .5rem .5rem;
    padding: 17px 20px;
}

.callback{
    text-align: center;
}

.call-to-action {
    color: #FFF;
    font-family: 'laila';
    font-size: x-large;
    font-variant:small-caps;
    font-weight:800;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    position: sticky;
}

.case-study-images{
    height: auto;
    width: 100%;
}

.case-study-title {
    font-family: 'montserrat';
    font-size: large;
}

.content {
    margin-left: 10;
    margin-right: 10;
}

.footer{
    background-color: #7973BA;
    margin: auto;
    margin-left: 10%;
    padding: 0 auto;
    text-align: center;
}

.greeting{
    margin-bottom: 60%;
    margin-top: 60%;
}

.header {
    color: #FFF;
    font-family: 'laila';
    font-size: xx-large;
    font-weight:900;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
}

.logo {
    float: left;
    position: relative;
    width: 50px;
}

main {
    color: #FFF;
}

.me {
    align-items: center;
    padding: 10%;
    width: 80%;
}

nav {
    height: 5rem;
}

.navigation{
    background-color:#7973BA;
    color: #fff;
    height: 100%;
    height: vh;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 10rem;
    margin-top: 0%;
    padding: 5%;
    text-align: center;
    text-decoration: wavy;

    /*link-color:white;*/
}

.navigation-button{
    align-items: right;
    background-color: #7973BA;
    float: right;
    position: relative;
}

.navigation-item{
    padding: 10%;
}

.project {
    color: #FFF;
    margin-top: 50;
    max-width: 300 px;
    padding-top: 0rem;
    text-align: center;
    width: 100%;
} 

.subtitle {
    color: #FFF;
    font-family: 'montserrat';
    font-weight:900;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 20%;
    
}

.title{
    font-weight: bold;
}