@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserratthin';
    src: url('../fonts/montserrat-variablefont_wght-webfont.woff') format('woff2'),
        url('../fonts/') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin_sansthin';
    src: url('../fonts/josefinsans-italic-variablefont_wght-webfont.woff') format('woff2'),
        url('../fonts/josefinsans-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'josefin_sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

css/general.css



html{
    --primary-text: #303030;
    --secondary-text: #B0355F;
    --main-background:#F34;
}


body{
    margin: 0;
    background-color: #fff;
    font-family: 'montserrat';
    /*'josefin_sans'*/
    
}

.navigation{
    height: 100%;
    height: vh;
    margin-bottom: 10rem;
    margin-top: 0%;
    text-align: center;
    text-decoration: wavy;
    background-color: #6F8ECB;
}

.header{
    margin-left: 10%;
    margin-right: 10%;
}

.project {
    width: 100%;
    max-width: 300 px;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
} 

.footer{
    margin-left: 10%;
}

/*text-align: center;*/