# Ignore macOS system files
.DS_Store

# Ignore node_modules directory 
node_modules/

# Ignore all Photoshop files 
*.psd

#Ignore all Illustrator files
*.ai

# Ignore files related to API keys (Local configuration files)
.env

#Ignore IDE-specific files
.vscode/




# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Project dependencies 
node_modules/
vendor/
dist/
public/bundle.js

# Media source files
*.psd
*.ai

# Image optimization backups
*_opt.*

# log files
*.log

# Local configuration files
*.env

# Binary files
*.bin